<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize/css/materialize.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <!--js imports-->
      <script type="text/javascript" src="vue.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script language="JavaScript" type="text/javascript" src="css/materialize/js/materialize.js"></script>
      <script src="lockr.js" type="text/javascript"></script>
    </head>
    <body class="green accent-2">
      <div id="button">
        <nav>
    <div class="nav-wrapper green accent-3">
      <a href="#!" class="brand-logo">Planagram</a>
    </div>
  </nav>
        <div class = "container">
          <div class="row">
            <div class="col s12 m6">
              <div class="card green accent-3" v-for="card in cards">
                <div class="card-content white-text">
                  <span class="card-title">{{card.appoint}}</span>
                  <p class="card-sub-title">{{card.loc}}</p>
                  <p>{{card.desc}}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal Structure -->
          <div id="modal1" class="modal center">
            <div class="modal-content">
              <h4>Event</h4>
              <div class="input-field">
                <input id="EventName" type="text" class="validate" v-model="EventName">
                <label for="EventName">Event Name</label>
              </div>
              <div class="input-field">
                <input id="loc" type="text" class="validate" v-model="loc">
                <label for="loc">Location</label>
              </div>
              <div class="input-field">
                <input id="desc" type="text" class="validate" v-model="desc">
                <label for="desc">Description</label>
              </div>

            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves btn-flat">Cancel</a>
              <a href="#!" class="modal-action modal-close waves-effect waves btn-flat" @click="cards.push({appoint: EventName, loc: loc, desc: desc})" >Create Event</a>
            </div>
          </div>
          <a class="btn-floating modal-trigger right btn-large waves-effect waves-light red" data-target="modal1">
            <i class="material-icons">add</i>
          </a>
        </div>
      </div>
    </body>
    <script>
  
  var button = new Vue({
  el: '#button',
  data: {
    cards: []
  }
})

$(document).ready(function(){
    $('.modal').modal();
  });

$(document).ready(function(){
    $('.sidenav').sidenav();
  });
       
</script>
  </html>
